<h1>Sections</h1>

<ul>
  <% @sections.each do |section| %>
  <li><a href="/sections/<%= section.id %>"><%= section.name %></a></li>
  <% end %>
</ul>
<p><a href="/sections/new">Create a new sections</a></p>
<p><a href="/lessons/new">Create a new lesson</a></p>
